{% extends "layouts/panel.html.twig" %}
{% block title %}{{ title }}{% endblock %}

{% block styles %}
    {% include "/styles/datatables.html.twig" %}
{% endblock %}

{% block content %}

    {% include "/components/panel.modal-form.html.twig" with {
        id: "modal",
        size: "modal-xl",
        forms: {
            id: { col: "2", type: "number", placeHolder: "Id", isRequired: 1 },
            Name: { col: "5", type: "text", placeHolder: "Name", isRequired: 1 },
            Animation: { col: "5", type: "text", placeHolder: "Animation", isRequired: 1 },
            Description: { col: "12", type: "textarea", placeHolder: "Description", isRequired: 1 },
            Damage: { col: "4", type: "number", placeHolder: "Damage", value:"1.00", isRequired: 1 },
            Mana: { col: "4", type: "number", placeHolder: "Mana", value:"10", isRequired: 1 },
            Icon: { col: "4", type: "text", placeHolder: "Icon", isRequired: 1 },
            Range: { col: "4", type: "number", placeHolder: "Range", value:"301", isRequired: 1 },
            Reference: { col: "4", type: "text", placeHolder: "Reference", isRequired: 1 },
            Target: { col: "4", type: "text", placeHolder: "Target", value:"h", isRequired: 1 },
            Effects: { col: "4", type: "text", placeHolder: "Effects", value:"p",  isRequired: 1 },
            Type: { col: "4", type: "text", placeHolder: "Type", value:"p", isRequired: 1 },
            Strl: { col: "4", type: "text", placeHolder: "Strl" },
            Cooldown: { col: "4", type: "number", placeHolder: "Cooldown", value:"2000", isRequired: 1 },
            HitTargets: { col: "4", type: "number", placeHolder: "HitTargets", value:"1", isRequired: 1 }
        }
    } %}

    {% include "/components/panel.modal-delete.html.twig" %}

    <section class="content">
        <div class="container-fluid">

            {% include "/components/panel.announcement.html.twig" %}

            <div class="card">
                <div class="card-header">
                    <h3 class="card-title text-lg">Total {{ title }}: {{ total }}</h3>

                    <div class="card-tools">
                        <button type="button" id="btn-refresh" class="btn btn-round btn-primary waves-effect">
                            <i class="fas fa-bolt pr-2"></i>
                            Refresh
                        </button>
                        <button type="button" id="btn-insert" class="btn btn-round btn-success" data-toggle="modal" data-target="#modal">
                            <i class="fa fa-plus pr-2"></i>
                            Add new {{ title }}
                        </button>
                    </div>
                </div>
                <div class="card-body p-0">
                    <table id="datatable" class="table table-striped projects">
                        <thead>
                        <tr>
                            <th>id</th>
                            <th>Name</th>
                            <th>Animation</th>
                            <th>Damage</th>
                            <th>Mana</th>
                            <th>Icon</th>
                            <th>Cooldown</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block scripts %}

    {% include "/scripts/datatables.html.twig" %}

    <script>
        $(document).ready(() => {
            const MODAL_DIALOG = $("#modal");
            const DELETE_MODAL = $("#deleteModal");
            const MODAL_BTN = $("#modal-btn");
            const INPUTS = $("#inputs input, #inputs select, #inputs textarea");
            const FORM = $('#form');
            const DATATABLE = $('#datatable').DataTable({
                processing: true,
                autoWidth: false,
                responsive: true,
                ajax: "{{ route('panel.skills') }}",
                lengthMenu: [ [20, 40, 80, 100, 150], [20, 40, 80, 100, 150] ],
                columns: [
                    { data: "id" },
                    { data: "Name" },
                    { data: "Animation" },
                    { data: "Damage" },
                    { data: "Mana" },
                    { data: "Icon" },
                    { data: "Cooldown" },
                    { data: "Action" },
                ],
            });

            let id = -1;
            let type = "insert";

            const resetDialog = () => {
                INPUTS.each(function() {
                    const name = $(this).attr("name");
                    const child = $(`#_${name}`);

                    if (!child.length) return;

                    switch ($(this).attr("type")) {
                        case "text":
                        case "number":
                            child.val($(this).attr("value") || "");
                            break;
                        case "checkbox":
                            if (child.is(":checked")) child.click();
                            break;
                    }
                });

                $('.form-control').removeClass('is-invalid');
                $('.text-sm').text("").removeClass('invalid-feedback');
            };

            const showModal = (btnText) => {
                MODAL_BTN.text(btnText);
                MODAL_DIALOG.modal("show");
            };

            $('body')
                .on('click', '#btn-refresh', () => {
                    DATATABLE.ajax.reload();
                    toastr.success("Refreshing Datatables...");
                })
                .on('click', '#btn-insert', () => {
                    id = -1;
                    type = "insert";
                    resetDialog();

                    $.get(`/auto_increment?t=skills`, (data) => {
                        $('#_id').val(data);
                    });

                    showModal("Insert");
                })
                .on('click', '#btn-edit', function() {
                    id = $(this).data('id');
                    type = "update";
                    resetDialog();

                    $.get(`/panel/skills/edit?id=${id}`, (data) => {
                        INPUTS.each(function() {
                            const name = $(this).attr("name");
                            const child = $(`#_${name}`);

                            console.log(`${name} > ${data[name]}`);

                            child.val(data[name]);
                        });

                        showModal("Update");
                    });
                })
                .on('click', '#btn-delete', function() {
                    id = $(this).data('id');
                    DELETE_MODAL.modal('show');
                })
                .on('click', '#confirmDelete', function() {
                    $.ajax({
                        url: `/panel/skills/delete?id=${id}`,
                        type: "GET",
                        dataType: "json",
                        success: (data) => {
                            DATATABLE.ajax.reload();
                            DELETE_MODAL.modal("hide");
                            toastr.success(data.msg[0]);
                        },
                        error: () => toastr.error("An error occurred while deleting the record.")
                    });
                });

            FORM.on("submit", (e) => {
                e.preventDefault();

                $.ajax({
                    url: `/panel/skills/save?type=${type}&oldId=${id}`,
                    type: "POST",
                    data: new FormData(FORM[0]),
                    dataType: "json",
                    processData: false,
                    contentType: false,
                    beforeSend: () => {
                        $('.form-control').removeClass('is-invalid');
                        $('.text-sm').removeClass('invalid-feedback').text("");
                    },
                    error: (data) => {
                        if (typeof data.responseJSON.msg === 'object' && !Array.isArray(data.responseJSON.msg))
                        {
                            $.each(data.responseJSON.msg, (key, value) => {
                                const INPUT = $(`#_${key}`);
                                const ERR = $(`#${key}-error`);

                                INPUT.addClass('is-invalid');
                                ERR.text(value[0]).addClass('invalid-feedback');
                            });
                        }
                        else
                        {
                            console.log(data.responseJSON.msg);
                        }
                    },
                    success: (data) => {
                        DATATABLE.ajax.reload();
                        MODAL_DIALOG.modal("hide");
                        toastr.success(data.msg[0]);
                    }
                });
            });

        });
    </script>

{% endblock %}