<div class="col-md-{{ col }}">
    <div class="form-group">
        <label for="input-{{ name }}" class="d-block">{{ name }}</label>
        <input id="input-{{ name }}" type="checkbox" name="{{ name }}" class="js-{{ class }}" />
    </div>
</div>